<!-- Encabezado fijo en la parte superior -->
<header class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid" style="flex-grow: 0; min-height: auto;">
    <a class="navbar-brand" href="#">EasyFinances</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navegación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <!-- Aquí se incluirá el componente del sidebar -->
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</header>

<!-- Contenido principal debajo del encabezado -->
<div class="container-fluid main-content pt-5">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Pie de página -->
<footer class="footer bg-light text-center text-lg-start">
  <div class="text-center p-3">
    © 2024 EasyFinances - Todos los derechos reservados
  </div>
</footer>
