/* Estilo para el ícono de menú hamburguesa */
.navbar-toggler {
    border: none !important;
    outline: none !important; /* Elimina el borde negro después del click */
}

.navbar-toggler:focus {
    box-shadow: none !important; /* Elimina el sombreado por defecto */
    border: 2px solid white !important; /* Aplica borde blanco al focus */
}

/* El ícono de hamburguesa en color blanco */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:hover,
.navbar-toggler:active {
    outline: none !important; /* Eliminar el borde de enfoque */
    border: 2px solid white !important; /* Borde blanco en focus y active */
}
