<div class="sidebar p-3">
  <!-- Navegación -->
  <a href="/EasyFinancesApp" class="d-flex align-items-center mb-3 mb-md-auto me-md-auto link-dark text-decoration-none">
    <span class="nav-link fs-5">Inicio</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngIf="!isAuthenticated">
      <a routerLink="/register" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
        Registrarse
      </a>
    </li>
    <li class="nav-item" *ngIf="!isAuthenticated">
      <a routerLink="/login" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
        Iniciar Sesión
      </a>
    </li>
    <li class="nav-item" *ngIf="isAuthenticated">
      <a (click)="logout()" class="nav-link link-dark" aria-current="page">
        Cerrar Sesión
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/credit-management" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
        Gestión de Crédito
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/economic-analysis" routerLinkActive="active" class="nav-link link-dark">
        Análisis Económico
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/info-tasas/bank-interest-rates" routerLinkActive="active" class="nav-link link-dark">
        Tasas de Bancos
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/info-tasas/subscribe" routerLinkActive="active" class="nav-link link-dark">
        Suscribirse a Notificaciones
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/info-tasas/unsubscribe" routerLinkActive="active" class="nav-link link-dark">
        Darse de Baja de Notificaciones
      </a>
    </li>
  </ul>
</div>
