.container {
    max-width: 88%;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    color: #37474F;
  }
  
  section {
    padding: 30px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn-primary {
    background-color: #FF7043;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #E64A19;
  }
  #benefits-carousel {
    background: linear-gradient(135deg, #1e3a8a, #ff7043);
    padding: 6px !important;
    border-radius: 10px;
    color: white;
  }
  
  .benefit-icon {
    font-size: 3rem;
    color: #fff;
  }
  
  .carousel-item {
    text-align: center;
    padding: 30px;
  }
  
  .carousel-item h4 {
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
  }
  
  .carousel-item p {
    font-size: 18px;
    color: #f0f0f0;
  }  
  

.benefit-icon:hover {
    color: #FF7043;
}

#benefits h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
}

#benefits p {
    font-size: 1.1rem;
    color: #6c757d;
    margin-top: 10px;
}

#novedades-consejos .card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Para pantallas grandes */
@media (min-width: 768px) {
  #novedades-consejos {
      padding: 2rem !important;
  }
}

/* Para pantallas pequeñas (menos padding) */
@media (max-width: 768px) {
  #novedades-consejos {
      padding: 1.5rem !important; 
  }

  #novedades-consejos .card {
      margin-bottom: 20px;
  }

  #novedades-consejos h2 {
      font-size: 1.5rem; 
  }

  #novedades-consejos .card-title {
      font-size: 1.2rem;
  }

  #novedades-consejos .card-text {
      font-size: 1rem;
  }

  #novedades-consejos .btn {
      font-size: 0.9rem;
  }
}
