<div class="container mt-5">
    <div class="text-center mb-5">
      <h1 class="display-4">Bienvenido a EasyFinances</h1>
      <p class="lead">Explora las diferentes opciones que te ofrecemos para gestionar tus finanzas</p>
    </div>
  
    <!-- Sección 1: Consejos sobre Abonos a Capital -->
    <section id="abonos-capital" class="mb-5">
      <h2 class="text-primary">Consejos sobre Abonos a Capital</h2>
      <p>Los abonos a capital te permiten reducir el tiempo y los intereses que pagas por tu crédito...</p>
      <a routerLink="/credit-management" class="btn btn-primary">Ir a Gestión de Crédito</a>
    </section>
  
    <!-- Sección 2: Control de Gastos -->
    <section id="control-gastos" class="mb-5">
      <h2 class="text-primary">Control de Gastos</h2>
      <p>Controlar tus gastos te permite ahorrar más y optimizar tu presupuesto...</p>
      <a routerLink="/economic-analysis" class="btn btn-primary">Ir al Análisis Económico</a>
    </section>
  
    <!-- Sección 3: Tasas de Interés -->
    <section id="tasas-interes" class="mb-5">
      <h2 class="text-primary">Tasas de Interés</h2>
      <p>Mantente informado sobre las tasas de interés de los bancos y aprovecha para refinanciar tu crédito...</p>
      <a routerLink="/info-tasas/bank-interest-rates" class="btn btn-primary">Ver Tasas de Interés</a>
    </section>
  </div>
  