<div class="d-flex justify-content-center">
  <div class="w-auto p-3">
    <div class="container mt-3">
      <h2>Información del Crédito Actual</h2>
      <form (ngSubmit)="submitCreditInfo()" #creditForm="ngForm" novalidate autocomplete="off">
        <div class="mb-3">
          <label for="monto" class="form-label">Monto:</label>
          <input type="text" class="form-control" id="monto" [(ngModel)]="creditInfo.monto" currencyMask name="monto" required placeholder="Ejemplo: 10.000.000" #monto="ngModel" autocomplete="off">
          <!-- Mensaje de error -->
          <div *ngIf="monto.invalid && (monto.dirty || monto.touched)" class="text-danger">
            El monto es obligatorio y debe ser mayor a $500.000.
          </div>
        </div>

        <div class="mb-3">
          <label for="tipoTasa" class="form-label">Tipo de Tasa</label>
          <select class="form-select" id="tipoTasa" [(ngModel)]="creditInfo.tipoTasa" name="tipoTasa" required #tipoTasa="ngModel">
            <option value="TEA">Tasa Efectiva Anual</option>
            <option value="TNM">Tasa Nominal Mensual</option>
          </select>
          <!-- Mensaje de error -->
          <div *ngIf="tipoTasa.invalid && (tipoTasa.dirty || tipoTasa.touched)" class="text-danger">
            Selecciona un tipo de tasa.
          </div>
        </div>

        <div class="mb-3">
          <label for="tasa" class="form-label">% Tasa:</label>
          <input type="number" class="form-control" id="tasa" [(ngModel)]="creditInfo.tasa" name="tasa" required placeholder="Ejemplo: 12.5%" #tasa="ngModel" autocomplete="off">
          <!-- Mensaje de error -->
          <div *ngIf="tasa.invalid && (tasa.dirty || tasa.touched)" class="text-danger">
            La tasa es obligatoria y sin el signo "%".
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="plazo" class="form-label">Plazo:</label>
            <input type="number" class="form-control" id="plazo" [(ngModel)]="creditInfo.plazo" name="plazo" required placeholder="Ejemplo: 72" #plazo="ngModel">
            <!-- Mensaje de error -->
            <div *ngIf="plazo.invalid && (plazo.dirty || plazo.touched)" class="text-danger">
              El plazo es obligatorio.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="tipoPlazo" class="form-label">Tipo de Plazo</label>
            <select class="form-select" id="tipoPlazo" [(ngModel)]="creditInfo.tipoPlazo" name="tipoPlazo" required #tipoPlazo="ngModel">
              <option value="Meses">Meses</option>
              <option value="Años">Años</option>
            </select>
            <!-- Mensaje de error -->
            <div *ngIf="tipoPlazo.invalid && (tipoPlazo.dirty || tipoPlazo.touched)" class="text-danger">
              Selecciona el tipo de plazo.
            </div>
          </div>
        </div>

        <hr>

        <div class="mb-3 text-center">
          <label>¿Desea realizar abonos a capital?</label>
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="abonosCapital" id="siAbonos" value="si" [(ngModel)]="creditInfo.abonosCapital" required #abonosCapital="ngModel">
              <label class="form-check-label" for="siAbonos">Sí</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="abonosCapital" id="noAbonos" value="no" [(ngModel)]="creditInfo.abonosCapital" required>
              <label class="form-check-label" for="noAbonos">No</label>
            </div>
          </div>
          <!-- Mensaje de error -->
          <div *ngIf="abonosCapital.invalid && (abonosCapital.dirty || abonosCapital.touched)" class="text-danger">
            Selecciona si deseas realizar abonos a capital.
          </div>
        </div>

        <!-- Mostrar si selecciona "Sí" para abonos a capital -->
        <div *ngIf="creditInfo.abonosCapital === 'si'">
          <div class="mb-3">
            <label for="valorAbono" class="form-label">Valor del abono:</label>
            <input type="text" class="form-control" id="valorAbono" [(ngModel)]="creditInfo.valorAbono" currencyMask name="valorAbono" required placeholder="Ejemplo: 100.000" #valorAbono="ngModel" autocomplete="off">
            <!-- Mensaje de error -->
            <div *ngIf="valorAbono.invalid && (valorAbono.dirty || valorAbono.touched)" class="text-danger">
              El valor del abono es obligatorio y debe ser mayor a $1.000.
            </div>
          </div>

          <!-- Mostrar solo cuando el valor del abono esté completo -->
          <div class="mb-3" *ngIf="creditInfo.valorAbono">
            <label for="frecuenciaAbono" class="form-label">Frecuencia de abonos a capital:</label>
            <select class="form-select" id="frecuenciaAbono" [(ngModel)]="creditInfo.frecuenciaAbono" name="frecuenciaAbono" required #frecuenciaAbono="ngModel">
              <option value="" disabled selected>Selecciona la frecuencia de pagos</option>
              <option value="monthly">Mensual</option>
              <option value="biannual">Semestral</option>
              <option value="annual">Anual</option>
              <option value="one-time">Pago único</option>
            </select>
            <!-- Mensaje de error -->
            <div *ngIf="frecuenciaAbono.invalid && (frecuenciaAbono.dirty || frecuenciaAbono.touched)" class="text-danger">
              Selecciona una frecuencia de abonos.
            </div>
          </div>

          <!-- Mostrar solo cuando la frecuencia de abonos esté seleccionada -->
          <div class="mb-3" *ngIf="creditInfo.frecuenciaAbono">
            <label for="cuotaInicio" class="form-label">¿A partir de cuál cuota desea comenzar a aplicar los abonos a capital?</label>
            <input type="number" class="form-control" id="cuotaInicio" [(ngModel)]="creditInfo.cuotaInicio" name="cuotaInicio" required placeholder="Ejemplo: 1" #cuotaInicio="ngModel">
            <!-- Mensaje de error -->
            <div *ngIf="cuotaInicio.invalid && (cuotaInicio.dirty || cuotaInicio.touched)" class="text-danger">
              La cuota de inicio es obligatoria.
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="creditForm.invalid">Confirmar</button>
        </div>
      </form>
    </div>
  </div>
</div>
