<div class="container mt-3">
  <h5>Análisis de Capacidad de Pago</h5>
  <hr>

  <!-- Sección introductoria -->
  <div class="intro-section bg-light text-center p-4 rounded shadow-sm mb-4">
    <h2 class="text-primary mb-3">Analiza tu Capacidad de Pago</h2>
    <p class="lead text-muted">
      Conocer tu capacidad de pago es clave para gestionar tus finanzas. Introduce tus ingresos, gastos y descubre cuánto puedes destinar para el pago de tu crédito.
    </p>
  </div>

  <!-- Explicación sobre la flexibilidad al agregar gastos -->
  <div class="expenses-guide-section bg-info text-white text-center p-3 rounded shadow-sm mb-4">
    <p class="mb-0">
      <strong>Consejo:</strong> Puedes ser tan específico como desees al agregar tus gastos. Detalla cada tipo de gasto o agrúpalos en categorías más amplias según prefieras.
      La idea es ayudarte a capturar todos los gastos y no olvidar ninguno.
    </p>
  </div>

  <form (ngSubmit)="analyzeEconomicCapacity()" autocomplete="off">
    <div class="d-flex justify-content-center">
      <div class="w-auto p-3">
        <h6>Ingresos</h6>
        <hr>
        <div class="row mb-3">
          <div class="col">
            <label for="monthlyIncome" class="form-label">Mensuales</label>
            <input
              type="text"
              id="monthlyIncome"
              [(ngModel)]="monthlyIncome"
              name="monthlyIncome"
              class="form-control"
              currencyMask
              placeholder="Ej: 5.000.000"
              required
              autocomplete="off"
              #monthlyIncomeModel="ngModel"
            />
            <div *ngIf="monthlyIncomeModel.invalid && (monthlyIncomeModel.dirty || monthlyIncomeModel.touched)" class="text-danger">
              Ingresos mensuales son obligatorios.
            </div>
          </div>
          <div class="col">
            <label for="additionalIncome" class="form-label">Otros</label>
            <input type="text" id="additionalIncome" [(ngModel)]="additionalIncome" name="additionalIncome" class="form-control" currencyMask placeholder="Ej: 500.000">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="receivesChristmasBonus" name="receivesChristmasBonus" id="christmasBonus" autocomplete="off">
              <label class="form-check-label" for="christmasBonus">Recibo Prima de Navidad</label>
            </div>
            <input *ngIf="receivesChristmasBonus" type="text" [(ngModel)]="christmasBonusAmount" name="christmasBonusAmount" class="form-control mt-2" currencyMask placeholder="Cantidad Prima de Navidad">
          </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="receivesMidYearBonus" name="receivesMidYearBonus" id="midYearBonus" autocomplete="off">
              <label class="form-check-label" for="midYearBonus">Recibo Prima de Junio</label>
            </div>
            <input *ngIf="receivesMidYearBonus" type="text" [(ngModel)]="midYearBonusAmount" name="midYearBonusAmount" class="form-control mt-2" currencyMask placeholder="Cantidad Prima de Junio">
          </div>
        </div>

        <h6>Gastos</h6>
        <hr>

        <!-- Botón para abrir el modal de selección de tipos de gastos -->
        <div class="text-center mb-3">
          <button type="button" class="btn btn-primary" (click)="openExpenseModal()">Agregar Gastos</button>
        </div>
      
        <!-- Modal para selección de tipos de gastos -->
        <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="expenseModalLabel">Seleccionar Tipos de Gastos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Búsqueda de tipos de gastos -->
                <div class="input-group mb-3">
                  <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Buscar por nombre o categoría" 
                    [(ngModel)]="searchTerm" 
                    name="searchTerm"
                    (input)="filterExpenses()"
                  >
                  <span class="input-group-text"><i class="bi bi-search"></i></span>
                </div>
      
                <!-- Listado de tipos de gastos con scroll limitado -->
                <div class="expense-list-container mb-3" style="max-height: 300px; overflow-y: auto;">
                  <div *ngFor="let category of (filteredExpenseTypes | keyvalue)">
                    <h6 class="text-secondary category-title">{{ category.key }}</h6>
                    <div class="list-group">
                      <div 
                        *ngFor="let type of category.value" 
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        (click)="selectExpense(type)"
                        (keydown.enter)="selectExpense(type)"
                      >
                        <span>{{ type.name }}</span>
                        <i class="bi bi-plus-circle text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>

      
                <!-- Superposición oscura para la sección de ingreso de monto -->
                <div *ngIf="showAmountInput" class="overlay">
                  <div class="amount-input-section">
                    <h5>Ingresar Monto para: {{ selectedExpense?.name }} - {{ selectedExpense?.category }}</h5>
                    <input
                      type="text"
                      name="amountInput"
                      [(ngModel)]="amountInput"
                      currencyMask
                      placeholder="Ingrese el monto"
                      class="form-control"
                    />
                    <div class="d-flex justify-content-between mt-2">
                      <button type="button" class="btn btn-secondary" (click)="cancelAmountInput()">Cancelar</button>
                      <button type="button" class="btn btn-success" (click)="confirmAmount()">Confirmar</button>
                    </div>
                    <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Tabla de gastos añadidos -->
        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th>Tipo de Gasto</th>
              <th>Monto</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expense of expenses">
              <td>{{ expense.expenseTypeNameAndCategory }}</td>
              <td>{{ expense.amount | customCurrency }}</td>
              <td>
                <button type="button" class="btn-link" (click)="editExpense(expense)">
                  <i class="bi bi-pencil-square edit-icon"></i>
                </button>
                <button type="button" class="btn-link" (click)="removeExpense(expense.expenseTypeId)">
                  <i class="bi bi-trash delete-icon"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Analizar Capacidad de Pago</button>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal para editar el monto del gasto existente -->
  <div class="modal fade" id="editExpenseModal" tabindex="-1" aria-labelledby="editExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-warning text-dark">
          <h5 class="modal-title" id="editExpenseModalLabel">Editar Monto del Gasto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelEdit()"></button>
        </div>
        <div class="modal-body">
          <h6>Editar Monto para: {{ selectedExpense?.name }} - {{ selectedExpense?.category }}</h6>
          <input
            type="text"
            name="editAmountInput"
            [(ngModel)]="amountInput"
            currencyMask
            placeholder="Ingrese el nuevo monto"
            class="form-control"
          />
          <div class="d-flex justify-content-between mt-2">
            <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
            <button type="button" class="btn btn-success" (click)="confirmEditAmount()">Confirmar</button>
          </div>
          <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>


  <!-- Resultado del análisis -->
  <div *ngIf="analysisResult" class="analysis-result mt-5">
    <h4 class="text-center">Resultado del Análisis</h4>
    
    <div class="bg-light p-4 rounded shadow-sm mb-4">
      <p><strong>Ingresos Mensuales:</strong> {{ analysisResult.monthlyIncome | customCurrency }}</p>
      <p><strong>Ingresos Adicionales:</strong> {{ analysisResult.additionalIncome | customCurrency }}</p>
      <p><strong>Gastos Totales:</strong> {{ analysisResult.totalExpenses | customCurrency }}</p>
      
      <!-- Sugerencia de pago -->
      <ng-container *ngIf="analysisResult.suggestedPaymentAmount >= 0; else negativeAmountMessage">
        <p><strong>Monto Sugerido para Pago:</strong> {{ analysisResult.suggestedPaymentAmount | customCurrency }}</p>
        <p class="text-success">
          Aunque el monto sugerido puede parecer bajo, realizar pequeños abonos a capital, incluso de $20.000 pesos, impactará significativamente en la reducción del tiempo y de los intereses de tu crédito.
        </p>
      </ng-container>

      <!-- Mensaje en caso negativo -->
      <ng-template #negativeAmountMessage>
        <div class="alert alert-warning mt-3">
          <strong>Atención:</strong> Tus gastos actuales superan tus ingresos, lo que hace difícil generar un monto sugerido para pago. Considera reducir gastos para mejorar tu capacidad de pago.
        </div>
      </ng-template>
    </div>
  </div>
</div>
