html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  background-color: #F0F4F8;
  font-family: 'Roboto', sans-serif;
  color: #37474F !important;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
  margin-top: 20px;
}

.navbar {
  background-color: #1E3A8A !important; /* Azul Marino Oscuro */
  color: #FFFFFF !important; /* Blanco para mejor legibilidad */
}

.navbar a,
.navbar .navbar-brand {
  color: #FFFFFF !important; /* Blanco para enlaces */
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #B2EBF2 !important; /* Un tono azul claro para el hover */
}

.container, .card {
  max-width: 1000px;
  margin: auto;
  background-color: white !important;
  border-color: #B2EBF2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.btn-primary {
  background-color: #FF7043 !important; /* Naranja */
  border-color: #FF7043 !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: #E64A19 !important; /* Naranja más oscuro */
  border-color: #E64A19 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input, select {
  border-radius: 5px;
  padding: 8px;
  transition: all 0.3s ease;
}
input:focus, select:focus {
  border-color: #1E3A8A !important;
  box-shadow: 0 0 5px rgba(30, 58, 138, 0.5);
  outline: none;
}

.footer {
  background-color: #37474F !important; /* Gris oscuro */
  color: #BDBDBD;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  flex-shrink: 0;
}

.form-check-input:checked {
  background-color: #1E3A8A !important; /* Azul Marino Oscuro */
  border-color: #1E3A8A !important;
}
