<div class="container mt-2">
  <h4>Agregar Ingreso</h4>
  <form (ngSubmit)="addIncome()" #incomeForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre del Ingreso</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="incomeData.name"
        name="name"
        required
      />
    </div>

    <div class="mb-3">
      <label for="amount" class="form-label">Monto</label>
      <input
        type="text"
        id="amount"
        class="form-control"
        [(ngModel)]="incomeData.amount"
        name="amount"
        currencyMask
        placeholder="Ej: 50.000"
        required
      />
    </div>

    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary" [disabled]="!incomeForm.valid || isLoading">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        <span *ngIf="!isLoading">Agregar</span>
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>
