<div class="container mt-3">
  <h5>Tasas de Interés Bancarias</h5>
  <hr>
  <!-- Sección de suscripción -->
  <app-subscribe-notifications></app-subscribe-notifications>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Banco</th>
        <th>Tasa de Interés</th>
        <th>Tasa Máxima</th>
        <th class="d-none d-md-table-cell">Fecha Efectiva</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of bankRates">
        <td>{{ rate.bankName }}</td>
        <td>{{ rate.interestRate | number:'1.2-2' }}%</td>
        <td>{{ rate.maxInterestRate | number:'1.2-2' }}%</td>
        <td class="d-none d-md-table-cell">{{ rate.effectiveDate | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>
</div>
