<div class="container mt-3">
  <h5>Tasas de Interés Bancarias</h5>
  <hr>

  <!-- Texto explicativo sobre la importancia de conocer las tasas de interés -->
  <div class="info-section bg-light p-4 rounded shadow-sm mb-4">
    <p class="lead text-muted">
      Mantenerse informado sobre las tasas de interés que ofrecen los bancos es clave para optimizar tu crédito.
      Si encuentras una tasa más baja que la que actualmente estás pagando, podrías renegociar tu préstamo y
      ahorrar dinero en intereses.
    </p>
    <!-- Nota adicional -->
    <p class="mt-2">
      <strong>Nota:</strong> Las tasas que mostramos son para créditos de libre inversión.
    </p>
  </div>

  <!-- Sección de suscripción -->
  <app-subscribe-notifications></app-subscribe-notifications>

  <!-- Tabla de tasas de interés -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Banco</th>
        <th>Tasa de Interés E.A.</th>
        <th>Tasa Máxima E.A.</th>
        <th class="d-none d-md-table-cell">Fecha de Actualización</th>
        <th class="d-none d-md-table-cell">Fuente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of bankRates">
        <td>{{ rate.bankName }}</td>
        <td>{{ rate.interestRate | number:'1.2-2' }}%</td>
        <td>{{ rate.maxInterestRate | number:'1.2-2' }}%</td>
        <td class="d-none d-md-table-cell">{{ rate.effectiveDate | date:'medium' }}</td>
        <td>
          <a [href]="rate.source ? rate.source : 'https://comparabien.com'" target="_blank" aria-label="Abrir enlace">
              <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
